body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
background-color:#aeb4d0;
color: #ffffff;
}
h1 {
font-family: cursive;
font-size: 30px;
background-color:#97a2c3;
color: white
text-align: center
}

h2 {
font-family: cursive;
font-size: 30px;
color: white
text-align: center
}



p {
  font-size: 19px;
  color:#2c2b40;
  class="center"
}

a:link {
color:#171964;
background-color:transparent
text-decoration: none
}

a:visited {
color:#181439
background-color: transparent;
text-shadow: none
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:hover {
color: white
background-color: transparent
text-align:2px 2px grey
}

.menu {
float: left;
width: 15%;
text-align:center;
}
* {
  box-sizing: border-box;
}

.menuitem {
  background-color:#d6ce93
  padding: 0px;
  margin-top:7px;
  font-size:100%;
}

.main {
float:left;
width:75%;
padding:0 0px;
text-align:justify;
}

@media only screen and (max-width:640) {
  .menu, .main {
  width:100%;
  }
  }
